.normal{
    font-weight: 100;
    font-size: 1.2rem;
}

.negrito{
  font-weight: bold;
  font-size: 1.2rem;
}

.background{
  background-color: #E3FFCA;
  width: 100%;
  border:none;
  padding: 0.9rem;
  font-size: 1.2rem;
  border-radius:10px;
}

