.fundo {
    background-color: #62DD87;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3px;
    font-size: 15px;
    box-shadow: 4px 4px 6px #00000059;
}

.textos {
    display: flex;
    flex-direction: column;
}

.txt1 {
    font-family: roboto;
    font-size: 2rem;
    font-weight: bold;
}

.txt2 {
    font-size: 1.5rem;
    font-family: roboto;
}

.corFundo {
    background-color: #E3FFCA;
}

.svg {
    width: 350px; 
    height: 350px;
}

.lugarLojas {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.areaCards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.areaBotao {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 1rem;
}



/* apagar aqui pra baixo */

.esquerdoRosa {
    background-color: #fac5c5;
    font-family: roboto;
    border: solid;
    border-radius: 4px 0px 0px 4px;
    border-color: #fac5c5;
    padding: 5px;
    font-size: 17px;
    color: #000000;
    box-shadow: 4px 4px 6px #00000059;
}

.direitoRosa {
    background-color: #fac5c500;
    font-family: roboto;
    border: solid;
    border-radius: 0px 4px 4px 0px;
    border-color: #fac5c5;
    padding: 5px;
    font-size: 17px;
    color: #000000;
    box-shadow: 4px 4px 6px #00000059;
}

.clica {
    text-decoration: none;
    margin: 1rem;
}

.card {
    background-color: #FAC5C5;
    width: 13rem;
    height: 16rem;
    border-radius: 4px;
    padding: 3px;
    font-size: 15px;
    box-shadow: 4px 4px 6px #00000059;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.base {
    background-color: #E3FFCA;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: relative;
    margin-bottom: 1.5rem;
}

.img {
    position: absolute;
    bottom: 0;
    width: 100%;
    top: 50%;
    transform: translate(0, -50%) scale(1.5);
}

.loja {
    color: #E3FFCA;
    font-family: roboto;
    font-size: 1.3rem;
    font-weight: bold;
    margin-right: 1rem;
}

.titulo {
    display: flex;
}

.desc {
    font-family: roboto;
    font-size: 0.9rem;
    color: black;
}

.N {
    color: #E3FFCA;
}

.S {
    color: #FAE88D;
}