#acessar{
    height: 1076.73px;
    background-repeat: no-repeat;
    background-image: url('../../imagens/Rectangle\ 9.png');
    background-position:-600px;
    background-position-y:-700px;
}
  
#abrirConta{
    height: 1076.73px;
    background-repeat: no-repeat;
    background-image: url('../../imagens/Rectangle\ 17.png');
    background-position:bottom;
    background-position-x:-153px;
}

#editar{
    height: 1076.73px;
    background-repeat: no-repeat;
    background-image: url('../../imagens/Rectangle\ 18.png');
    background-position-y: -1000px;
}
  
#extrato{
    height: 1076.73px;
    background-repeat: no-repeat;
    background-image: url('../../imagens/Rectangle\ 22.png');
    background-position: center;
}
  
   