.clica2 {
    text-decoration: none;
    margin: 1rem;
}

.card2 {
    background-color: #FAC5C5;
    width: 13rem;
    height: 16rem;
    border-radius: 4px;
    padding: 3px;
    font-size: 15px;
    box-shadow: 4px 4px 6px #00000059;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.base2 {
    background-color: #E3FFCA;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: relative;
    margin-bottom: 1.5rem;
}

.img2 {
    position: absolute;
    bottom: 0;
    width: 100%;
    top: 50%;
    transform: translate(0, -50%) scale(1.5);
}

.loja2 {
    color: #E3FFCA;
    font-family: roboto;
    font-size: 1.3rem;
    font-weight: bold;
    margin-right: 1rem;
}

.titulo2 {
    display: flex;
}

.desc2 {
    font-family: roboto;
    font-size: 0.9rem;
    color: black;
    text-align: center;
}

.N {
    color: #E3FFCA;
}

.S {
    color: #000000;
}